{% extends "layout.html" %}
{% block content %}
<div class="main-content pb55">
    <div class="container-fluid">
        <div class="pos-box bgw mtb15">
            <div class="position f14 c9 pull-left">
                <a class="plr10 c4" href="/">{{data['lan']['H1']}}</a>/<span class="plr10 c4">{{data['lan']['H2']}}</span>
            </div>
        </div>
        <div class="safe bgw mtb15 pd15">
            <div class="info-title-tips">
                <p><span class="glyphicon glyphicon-alert" style="color: #f39c12; margin-right: 10px;"></span> 请在添加数据库后，务必到<a class="btlink" href="/crontab">[计划任务]</a>页面添加定时备份任务，以确保您的数据安全。</p>
            </div>
            <div id="bt_database_table"></div>
        </div>
        <code id="mysql_root" class="hide">{{data['mysql_root']}}</code>
        <form id="toPHPMyAdmin" public-data="{{session['phpmyadminDir']}}/index.php" action="{{session['phpmyadminDir']}}/index.php" method="post" style="display: none;" target="_blank">
            <input type="text" name="pma_username" id="pma_username" value="" />
            <input type="password" name="pma_password" id="pma_password" value="" />
            <input type="text" name="server" value="1" />
            <input type="text" name="target" value="index.php" />
            <input type="text" name="db" id="db" value="" />
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{g.cdn_url}}/js/bt_upload.js?version={{g['version']}}&repair={{data['js_random']}}"></script>
<script type="text/javascript">
    bt.set_cookie('backup_path', "{{session['config']['backup_path']}}");
    bt.set_cookie('mysql_root', "{{data['mysql_root']}}");
	{% if not data['isSetup'] %}
		layer.msg('{{data["lan"]["JS1"]}}<a href="/soft#i" style="color:#20a53a;float: right;">{{data["lan"]["JS2"]}}</a>',{icon:7,shade: [0.3, '#000'],time:0});
        $(".layui-layer-shade").css("margin-left", "180px");
    {% else %}
        var database = bt_tools.table({
            el:'#bt_database_table',
            fid:'database',
            url:'/data?action=getData',
            param:{table:'databases'}, //参数
            minWidth:'1000px',
            autoHeight:true,
            default:"数据库列表为空", //数据为空时的默认提示
            beforeRequest:function(param){
                param.type = bt.get_cookie('site_type') || -1;
                return param;
            },
            sortParam:function(data){
                return {'order':data.name +' '+ data.sort};
            },
            methods: {
                /**
                 * @description mysql 工具箱
                 * @param {*} db_name 数据库名称
                 * @param {*} res 
                 */
                rep_tools: function (db_name, res) {
                    var loadT = layer.msg('正在获取数据,请稍候...', { icon: 16, time: 0 });
                    bt.send('GetInfo', 'database/GetInfo', { db_name: db_name }, function (rdata) {
                        layer.close(loadT)
                        if (rdata.status === false) {
                            layer.msg(rdata.msg, { icon: 2 });
                            return;
                        }
                        var types = { InnoDB: "MyISAM", MyISAM: "InnoDB" };
                        var tbody = '';
                        for (var i = 0; i < rdata.tables.length; i++) {
                            if (!types[rdata.tables[i].type]) continue;
                            tbody += '<tr>\
                                    <td><input value="dbtools_' + rdata.tables[i].table_name + '" class="check" onclick="database.selected_tools(null,\'' + db_name + '\');" type="checkbox"></td>\
                                    <td><span style="width:220px;"> ' + rdata.tables[i].table_name + '</span></td>\
                                    <td>' + rdata.tables[i].type + '</td>\
                                    <td><span style="width:90px;"> ' + rdata.tables[i].collation + '</span></td>\
                                    <td>' + rdata.tables[i].rows_count + '</td>\
                                    <td>' + rdata.tables[i].data_size + '</td>\
                                    <td style="text-align: right;">\
                                        <a class="btlink" onclick="database.rep_database(\''+ db_name + '\',\'' + rdata.tables[i].table_name + '\')">修复</a> |\
                                        <a class="btlink" onclick="database.op_database(\''+ db_name + '\',\'' + rdata.tables[i].table_name + '\')">优化</a> |\
                                        <a class="btlink" onclick="database.to_database_type(\''+ db_name + '\',\'' + rdata.tables[i].table_name + '\',\'' + types[rdata.tables[i].type] + '\')">转为' + types[rdata.tables[i].type] + '</a>\
                                    </td>\
                                </tr> '
                        }
                        if (res) {
                            $(".gztr").html(tbody);
                            $("#db_tools").html('');
                            $("input[type='checkbox']").attr("checked", false);
                            $(".tools_size").html('大小：' + rdata.data_size);
                            return;
                        }
                        layer.open({
                            type: 1,
                            title: "MySQL工具箱【" + db_name + "】",
                            area: ['780px', '580px'],
                            closeBtn: 2,
                            shadeClose: false,
                            content: '<div class="pd15">\
                                            <div class="db_list">\
                                                <span><a>数据库名称：'+ db_name + '</a>\
                                                <a class="tools_size">大小：'+ rdata.data_size + '</a></span>\
                                                <span id="db_tools" style="float: right;"></span>\
                                            </div >\
                                            <div class="divtable">\
                                            <div  id="database_fix"  style="height:360px;overflow:auto;border:#ddd 1px solid">\
                                            <table class="table table-hover "style="border:none">\
                                                <thead>\
                                                    <tr>\
                                                        <th><input class="check" onclick="database.selected_tools(this,\''+ db_name + '\');" type="checkbox"></th>\
                                                        <th>表名</th>\
                                                        <th>引擎</th>\
                                                        <th>字符集</th>\
                                                        <th>行数</th>\
                                                        <th>大小</th>\
                                                        <th style="text-align: right;">操作</th>\
                                                    </tr>\
                                                </thead>\
                                                <tbody class="gztr">' + tbody + '</tbody>\
                                            </table>\
                                            </div>\
                                        </div>\
                                        <ul class="help-info-text c7">\
                                            <li>【修复】尝试使用REPAIR命令修复损坏的表，仅能做简单修复，若修复不成功请考虑使用myisamchk工具</li>\
                                            <li>【优化】执行OPTIMIZE命令，可回收未释放的磁盘空间，建议每月执行一次</li>\
                                            <li>【转为InnoDB/MyISAM】转换数据表引擎，建议将所有表转为InnoDB</li>\
                                        </ul></div>'
                        });
                        tableFixed('database_fix');
                        //表格头固定
                        function tableFixed(name) {
                            var tableName = document.querySelector('#' + name);
                            tableName.addEventListener('scroll', scrollHandle);
                        }
                        function scrollHandle(e) {
                            var scrollTop = this.scrollTop;
                            $(this).find("thead").css({ "transform": "translateY(" + scrollTop + "px)", "position": "relative", "z-index": "1" });
                        }
                    });
                },
                selected_tools: function (my_obj, db_name) {
                    var is_checked = false;
                    if (my_obj) is_checked = my_obj.checked;
                    var db_tools = $("input[value^='dbtools_']");
                    var n = 0;
                    for (var i = 0; i < db_tools.length; i++) {
                        if (my_obj) db_tools[i].checked = is_checked;
                        if (db_tools[i].checked) n++;
                    }
                    if (n > 0) {
                        var my_btns = '<button class="btn btn-default btn-sm" onclick="database.rep_database(\'' + db_name + '\',null)">修复</button><button class="btn btn-default btn-sm" onclick="database.op_database(\'' + db_name + '\',null)">优化</button><button class="btn btn-default btn-sm" onclick="database.to_database_type(\'' + db_name + '\',null,\'InnoDB\')">转为InnoDB</button></button><button class="btn btn-default btn-sm" onclick="database.to_database_type(\'' + db_name + '\',null,\'MyISAM\')">转为MyISAM</button>'
                        $("#db_tools").html(my_btns);
                    } else {
                        $("#db_tools").html('');
                    }
                },
                rep_database: function (db_name, tables) {
                    dbs = database.rep_checkeds(tables)
                    var loadT = layer.msg('已送修复指令,请稍候...', { icon: 16, time: 0 });
                    bt.send('ReTable', 'database/ReTable', { db_name: db_name, tables: JSON.stringify(dbs) }, function (rdata) {
                        layer.close(loadT)
                        layer.msg(rdata.msg, { icon: rdata.status ? 1 : 2 });
                        database.rep_tools(db_name, true);
                    });
                },
                op_database: function (db_name, tables) {
                    dbs = database.rep_checkeds(tables)
                    var loadT = layer.msg('已送优化指令,请稍候...', { icon: 16, time: 0 });
                    bt.send('OpTable', 'database/OpTable', { db_name: db_name, tables: JSON.stringify(dbs) }, function (rdata) {
                        layer.close(loadT)
                        layer.msg(rdata.msg, { icon: rdata.status ? 1 : 2 });
                        database.rep_tools(db_name, true);
                    });
                },
                to_database_type: function (db_name, tables, type) {
                    dbs = database.rep_checkeds(tables)
                    var loadT = layer.msg('已送引擎转换指令,请稍候...', { icon: 16, time: 0, shade: [0.3, "#000"] });
                    bt.send('AlTable', 'database/AlTable', { db_name: db_name, tables: JSON.stringify(dbs), table_type: type }, function (rdata) {
                        layer.close(loadT);
                        layer.msg(rdata.msg, { icon: rdata.status ? 1 : 2 });
                        database.rep_tools(db_name, true);
                    });
                },
                rep_checkeds: function (tables) {
                    var dbs = []
                    if (tables) {
                        dbs.push(tables)
                    } else {
                        var db_tools = $("input[value^='dbtools_']");
                        for (var i = 0; i < db_tools.length; i++) {
                            if (db_tools[i].checked) dbs.push(db_tools[i].value.replace('dbtools_', ''));
                        }
                    }
            
                    if (dbs.length < 1) {
                        layer.msg('请至少选择一张表!', { icon: 2 });
                        return false;
                    }
                    return dbs;
                },
                
                sync_to_database: function (type) {
                    var data = [];
                    $('input[type="checkbox"].check:checked').each(function () {
                        if (!isNaN($(this).val())) data.push($(this).val());
                    });
                    bt.database.sync_to_database({ type: type, ids: JSON.stringify(data) }, function (rdata) {
                        if (rdata.status) database.$refresh_table_list(true);
                    });
                },
                sync_database: function () {
                    bt.database.sync_database(function (rdata) {
                        if (rdata.status) database.$refresh_table_list(true);
                    })
                },
                batch_database: function (type, arr, result) {
                    if (arr == undefined) {
                        arr = [];
                        result = { count: 0, error_list: [] };
                        $('input[type="checkbox"].check:checked').each(function () {
                            var _val = $(this).val();
                            if (!isNaN(_val)) arr.push($(this).parents('tr').data('item'));
                        })
                        bt.show_confirm(lan.database.del_all_title, "<a style='color:red;'>" + lan.get('del_all_database', [arr.length]) + "</a>", function () {
                            bt.closeAll();
                            database.batch_database(type, arr, result);
                        });
                        return;
                    }
                    var item = arr[0];
                    switch (type) {
                        case 'del':
                            if (arr.length < 1) {
                                database.$refresh_table_list(true);
                                bt.msg({ msg: lan.get('del_all_database_ok', [result.count]), icon: 1, time: 5000 });
                                return;
                            }
                            bt.database.del_database({ id: item.id, name: item.name }, function (rdata) {
                                if (rdata.status) {
                                    result.count += 1;
                                } else {
                                    result.error_list.push({ name: item.item, err_msg: rdata.msg });
                                }
                                arr.splice(0, 1)
                                database.batch_database(type, arr, result);
                            })
                            break;
                    }
                },
                del_database: function (id, name) {
                    bt.show_confirm(lan.get('del', [name]), lan.get('confirm_del', [name]), function () {
                        bt.database.del_database({ id: id, name: name }, function (rdata) {
                            if (rdata.status) database.$refresh_table_list(true);
                            bt.msg(rdata);
                        })
                    });
                },
                set_data_pass: function (id, username, password) {
                    var bs = bt.database.set_data_pass(function (rdata) {
                        if (rdata.status) database.$refresh_table_list(true);
                        bt.msg(rdata);
                    })
                    $('.name' + bs).val(username);
                    $('.id' + bs).val(id);
                    $('.password' + bs).val(password);
                },
                
                
                /**
                 * @description 备份数据库
                 * @param {*} config 配置参数,数据库ID:config.id,数据库名称:config.name,
                 * @param {*} callback  回调函数
                */
                backup_database_view:function(config,callback){
                    var that = this;
                    bt_tools.open({
                        title:'备份数据库&nbsp;-&nbsp;[&nbsp;'+ config.name +'&nbsp;]',
                        area:'720px',
                        btn:false,
                        skin:'bt_backup_table',
                        content:'<div id="bt_backup_table" class="pd20" style="padding-bottom:40px;"></div>',
                        success:function(){
                            var backup_table = bt_tools.table({
                                el:'#bt_backup_table',
                                url:'/data?action=getData',
                                param:{table:'backup',search:config.id,type:'1'},
                                default:"["+ config.name +"] 数据库备份列表为空",//数据为空时的默认提示
                                column:[
                                    {type:'checkbox',class:'',width:20},
                                    {fid:'name',title:'文件名'},
                                    {fid:'size',title:'文件大小',type:'text',template:function(row,index){
                                        return bt.format_size(row.size);
                                    }},
                                    {fid:'addtime',title:'备份时间'},
                                    {title:'操作',type:'group',width:180,align:'right',group:[{
                                        title:'恢复',
                                        event:function(row,index){
                                            bt.database.input_sql(row.filename,config.name);
                                        }
                                    },{
                                        title:'下载',
                                        template:function(row,index,ev,key,that){
                                            return '<a target="_blank" class="btlink" href="/download?filename=' + row.filename + '&amp;name=' + row.name +'">下载</a>';
                                        }
                                    },{
                                        title:'删除',
                                        event:function(row,index,ev,key,that){
                                            that.del_site_backup({name:row.name,id:row.id},function(rdata){
                                                bt_tools.msg(rdata);
                                                if(rdata.status){
                                                    that.$modify_row_data({backup_count:that.event_rows_model.rows.backup_count - 1});
                                                    that.$refresh_table_list();
                                                }
                                            });
                                        }
                                    }]}
                                ],
                                methods:{
                                    /**
                                     * @description 删除站点备份
                                     * @param {object} config 
                                     * @param {function} callback
                                    */
                                    del_site_backup:function(config,callback){
                                        bt.confirm({title:'删除站点备份',msg:'删除站点备份['+ config.name +'],是否继续？'},function(){
                                            bt_tools.send('database/DelBackup',{id:config.id},function(rdata){
                                                if(callback) callback(rdata);
                                            },true);
                                        });
                                    }
                                },
                                success:function(){
                                    if(callback) callback();
                                    $('.bt_backup_table').css('top',(($(window).height() - $('.bt_backup_table').height())/2) + 'px');
                                },
                                tootls:[{ // 按钮组
                                    type:'group',
                                    positon:['left','top'],
                                    list:[
                                        {title:'备份数据库',active:true, event:function(ev,that){
                                            bt.database.backup_data(config.id,config.name,function (rdata) {
                                                if(rdata.status){
                                                    that.$modify_row_data({backup_count:that.event_rows_model.rows.backup_count + 1});
                                                    that.$refresh_table_list();
                                                }
                                            });
                                        }}
                                    ]
                                },{ 
                                    type:'batch',
                                    positon:['left','bottom'],
                                    config:{
                                        title:'删除',
                                        url:'/database?action=DelBackup',
                                        paramId:'id',
                                        load:true,
                                        callback:function(that){
                                            bt.confirm({title:'批量删除站点备份',msg:'是否批量删除选中的站点备份，是否继续？',icon:0},function(index){
                                                layer.close(index);
                                                that.start_batch({},function(list){
                                                    var html = '';
                                                    for(var i=0;i<list.length;i++){
                                                        var item = list[i];
                                                        html += '<tr><td><span class="text-overflow" title="'+ item.name +'">'+ item.name +'</span></td><td><div style="float:right;"><span style="color:'+ (item.request.status?'#20a53a':'red') +'">'+ item.request.msg +'</span></div></td></tr>';
                                                    }
                                                    backup_table.$batch_success_table({title:'批量删除站点备份',th:'文件名',html:html});
                                                    backup_table.$refresh_table_list(true);
                                                    site_table.$modify_row_data({backup_count:site_table.event_rows_model.rows.backup_count - list.length});
                                                });
                                            });
                                        }
                                    } //分页显示
                                },{
                                    type:'page',
                                    positon:['right','bottom'], // 默认在右下角
                                    pageParam:'p', //分页请求字段,默认为 : p
                                    page:1, //当前分页 默认：1
                                    numberParam:'limit',　//分页数量请求字段默认为 : limit
                                    number:10,　//分页数量默认 : 20条
                                }]
                            });
                        }
                    });
                    
                },

                /**
                 * @description 删除数据库备份
                 * @param {*} config 配置参数,数据库备份ID:config.id,数据库备份名称:config.name,
                 * @param {*} callback  回调函数
                */
                del_database_backup:function(config,callback){

                },

                database_detail: function (id, dataname, page) {
                    if (page == undefined) page = '1';
                    var loadT = bt.load(lan.public.the_get);
                    bt.pub.get_data('table=backup&search=' + id + '&limit=5&type=1&tojs=database.database_detail&p=' + page, function (frdata) {
                        loadT.close();
                        var ftpdown = '';
                        var body = '';
                        var port;
                        frdata.page = frdata.page.replace(/'/g, '"').replace(/database.database_detail\(/g, "database.database_detail(" + id + ",'" + dataname + "',");
                        if ($('#DataBackupList').length <= 0) {
                            bt.open({
                                type: 1,
                                skin: 'demo-class',
                                area: '700px',
                                title: lan.database.backup_title,
                                closeBtn: 2,
                                shift: 5,
                                shadeClose: false,
                                content: "<div class='divtable pd15 style='padding-bottom: 0'><button id='btn_data_backup' class='btn btn-success btn-sm' type='button' style='margin-bottom:10px'>" + lan.database.backup + "</button><table width='100%' id='DataBackupList' class='table table-hover'></table><div class='page databackup_page'></div></div>"
                            });
                        }
                        setTimeout(function () {
                            $('.databackup_page').html(frdata.page);
                            var _tab = bt.render({
                                table: '#DataBackupList',
                                columns: [
                                    { field: 'name', title: '文件名称' },
                                    {
                                        field: 'size', title: '文件大小', templet: function (item) {
                                            return bt.format_size(item.size);
                                        }
                                    },
                                    { field: 'addtime', title: '备份时间' },
                                    {
                                        field: 'opt', title: '操作', align: 'right', templet: function (item) {
                                            var _opt = '<a class="btlink" herf="javascrpit:;" onclick="bt.database.input_sql(\'' + item.filename + '\',\'' + dataname + '\')">恢复</a> | ';
                                            _opt += '<a class="btlink" href="/download?filename=' + item.filename + '&amp;name=' + item.name + '" target="_blank">下载</a> | ';
                                            _opt += '<a class="btlink" herf="javascrpit:;" onclick="bt.database.del_backup(\'' + item.id + '\',\'' + id + '\',\'' + dataname + '\')">删除</a>'
                                            return _opt;
                                        }
                                    },
                                ],
                                data: frdata.data
                            });
                            $('#btn_data_backup').unbind('click').click(function () {
                                bt.database.backup_data(id, dataname, function (rdata) {
                                    if (rdata.status) database.database_detail(id, dataname);
                                })
                            })
                        }, 100)
                    });
                },
                upload_files: function (name) {
                    var path = bt.get_cookie('backup_path') + "/database/";
                    bt_upload_file.open(path, '.sql,.gz,.tar.gz,.zip', lan.database.input_up_type, function () {
                        database.input_database(name);
                    });
                },
                input_database: function (name) {
                    var path = bt.get_cookie('backup_path') + "/database";
                    bt.send('get_files', 'files/GetDir', 'reverse=True&sort=mtime&tojs=GetFiles&p=1&showRow=1000&path=' + path, function (rdata) {
                        var data = [];
                        for (var i = 0; i < rdata.FILES.length; i++) {
                            if (rdata.FILES[i] == null) continue;
                            var fmp = rdata.FILES[i].split(";");
                            var ext = bt.get_file_ext(fmp[0]);
                            if (ext != 'sql' && ext != 'zip' && ext != 'gz' && ext != 'tgz') continue;
                            data.push({ name: fmp[0], size: fmp[1], etime: fmp[2], })
                        }
                        if ($('#DataInputList').length <= 0) {
                            bt.open({
                                type: 1,
                                skin: 'demo-class',
                                area: '600px',
                                title: lan.database.input_title_file+'['+name+']',
                                closeBtn: 2,
                                shift: 5,
                                shadeClose: false,
                                content: '<div class="pd15"><button class="btn btn-default btn-sm" onclick="database.upload_files(\'' + name + '\')">' + lan.database.input_local_up + '</button><div class="divtable mtb15" style="max-height:300px; overflow:auto">'
                                    + '<table id="DataInputList" class="table table-hover"></table>'
                                    + '</div>'
                                    + bt.render_help([lan.database.input_ps1, lan.database.input_ps2, (bt.os != 'Linux' ? lan.database.input_ps3.replace(/\/www.*\/database/, path) : lan.database.input_ps3)])
                                    + '</div>'
                            });
                        }
                        setTimeout(function () {
                            var _tab = bt.render({
                                table: '#DataInputList',
                                columns: [
                                    { field: 'name', title: lan.files.file_name },
                                    {
                                        field: 'etime', title: lan.files.file_etime, templet: function (item) {
                                            return bt.format_data(item.etime);
                                        }
                                    },
                                    {
                                        field: 'size', title: lan.files.file_size, templet: function (item) {
                                            return bt.format_size(item.size)
                                        }
                                    },
                                    {
                                        field: 'opt', title: '操作', align: 'right', templet: function (item) {
                                            return '<a class="btlink" herf="javascrpit:;" onclick="bt.database.input_sql(\'' + bt.rtrim(rdata.PATH, '/') + "/" + item.name + '\',\'' + name + '\')">导入</a>  | <a class="btlink" onclick="database.remove_input_file(\'' + bt.rtrim(rdata.PATH, '/') + "/" + item.name + '\',\'' + name + '\')">删除</a>';
                                        }
                                    },
                                ],
                                data: data
                            });
                        }, 100)
                    })
                },
                remove_input_file: function (fileName,name) {
                    layer.confirm(lan.get('recycle_bin_confirm', [fileName]), { title: lan.files.del_file, closeBtn: 2, icon: 3 }, function (index) {
                        layer.msg(lan.public.the, { icon: 16, time: 0, shade: [0.3, '#000'] });
                        $.post('/files?action=DeleteFile', 'path=' + encodeURIComponent(fileName), function (rdata) {
                            layer.close(index);
                            layer.msg(rdata.msg, { icon: rdata.status ? 1 : 2 });
                            database.input_database(name);
                        });
                    });
                }
            },
            column:[
                {type:'checkbox',class:'',width:20},
                {fid:'name',title:'数据库名',width:100},
                {fid:'username',title:'用户名',width:100},
                {fid:'password',title:'密码',width:'20%',type:'password',copy:true,eye_open:true},
                {fid:'backup_count',title:'备份',type:'group',width:120,group:[{
                    template:function(row){
                        if(row.backup_count > 0){
                            return '<a href="javascript:;" class="btlink bt_success">有备份('+ row.backup_count +')</a>';
                        }
                        return '<a href="javascript:;" class="btlink bt_warning">无备份</a>';
                    },
                    event:function(row,index,ev,key,that){
                        that.backup_database_view({id:row.id,name:row.name});
                    }
                },{
                    title:'导入',
                    event:function(row,index,ev,key,that){
                        that.input_database(row.name);
                    }
                }]},
                {fid:'ps',title:'备注',type:'input',blur:function(row,index,ev,key,that){
                    var $input = $(ev.target);
                    if($input.data('value') === $input.val()) return false;
                    bt.pub.set_data_ps({id:row.id,table:'databases',ps:$input.val()},function(res){
                        bt_tools.msg(res,{is_dynamic:true});
                        $input.data('value',$input.val());
                    });
                },keyup:function(row,index,ev){
                    if(ev.keyCode === 13){
                        $(this).blur();
                    }
                }},
                {title:'操作',type:'group',width:220,align:'right',group:[{
                    title:'管理',
                    tips:'数据库管理',
                    event:function(row,index,ev,key,that){
                        bt.database.open_phpmyadmin(row.name,row.username,row.password);
                    }
                },{
                    title:'工具',
                    tips:'MySQL优化修复工具',
                    event:function(row,index,ev,key,that){
                        that.rep_tools(row.name);
                    }
                },{
                    title:'权限',
                    tips:'设置数据库权限',
                    event:function(row,index,ev,key,that){
                        bt.database.set_data_access(row.username);
                    }
                },{
                    title:'改密',
                    tips:'修改数据库密码',
                    event:function(row,index,ev,key,that){
                        that.set_data_pass(row.id,row.username,row.password);
                    }
                },{
                    title:'删除',
                    tips:'删除数据库',
                    event:function(row,index,ev,key,that){
                        that.del_database(row.id,row.name);
                    }
                }]}
            ],
            // 渲染完成
            tootls:[{ // 按钮组
                type:'group',
                positon:['left','top'],
                list:[
                    {title:'添加数据库',active:true, event:function(ev){
                        console.log(arguments);
                        bt.database.add_database(function (rdata) {
                            if (rdata.status) database.$refresh_table_list(true);
                        });
                    }},
                    {title:'root密码',event:function(ev){
                        bt.database.set_root();
                    }},
                    {title:'phpMyAdmin',event:function(ev){
                        bt.database.open_phpmyadmin('','root',$('#mysql_root').text());
                    }},
                    {title:'同步所有',tips:'将所有数据库信息同步到服务器',event:function(ev){
                        database.sync_to_database(0);
                    }},
                    {title:'从服务器获取',tips:'从服务器获取数据库列表',event:function(ev){
                        database.sync_database();
                    }},
                    {title:'回收站',tips:'数据库回收站',icon:'trash',event:function(ev){
                        bt.recycle_bin.open_recycle_bin(6);
                    }}
                ]
            },{ // 搜索内容
                type:'search',
                positon:['right','top'],
                placeholder:'请输入数据库名或备注',
                searchParam:'search', //搜索请求字段，默认为 search
                value:'',// 当前内容,默认为空
            },{ // 批量操作
                type:'batch',//batch_btn
                positon:['left','bottom'],
                placeholder:'请选择批量操作',
                buttonValue:'批量操作',
                disabledSelectValue:'请选择需要批量操作的数据库!',
                selectList:[{
                    title:"同步选中",
                    url:'/site?action=ToBackup',
                    paramId:'id',
                    load:true,
                    theadName:'站点名称',
                    callback:function(that){ // 手动执行,data参数包含所有选中的站点
                        that.start_batch({},function(list){
                            var html = '';
                            for(var i=0;i<list.length;i++){
                                var item = list[i];
                                html += '<tr><td>'+ item.name +'</td><td><div style="float:right;"><span style="color:'+ (item.request.status?'#20a53a':'red') +'">'+ item.request.msg +'</span></div></td></tr>';
                            }
                            site_table.$batch_success_table({title:'批量备份',th:'站点名称',html:html});
                            site_table.$refresh_table_list(true);
                        });
                    }
                },{
                    title:"备份数据库",
                    url:'/database?action=ToBackup',
                    paramId:'id',
                    load:true,
                    theadName:'数据库名称',
                    callback:function(that){ // 手动执行,data参数包含所有选中的站点
                        that.start_batch({},function(list){
                            var html = '';
                            for(var i=0;i<list.length;i++){
                                var item = list[i];
                                html += '<tr><td>'+ item.name +'</td><td><div style="float:right;"><span style="color:'+ (item.request.status?'#20a53a':'red') +'">'+ item.request.msg +'</span></div></td></tr>';
                            }
                            database.$batch_success_table({title:'批量备份',th:'数据库名称',html:html});
                            database.$refresh_table_list(true);
                        });
                    }
                },{
                    title:"删除数据库",
                    url:'/site?action=DeleteDatabase',
                    paramName:'sites_id', //列表参数名,可以为空
                    paramId:'id', //需要传入批量的id
                    theadName:'数据库名称',
                    confirm:function(config,callback){
                        bt.show_confirm("批量删除数据库","是否同时删除选中数据库？是否继续", function(){
                            if(callback) callback();
                        });
                    }
                }],
            },{ //分页显示
                type:'page',
                positon:['right','bottom'], // 默认在右下角
                pageParam:'p', //分页请求字段,默认为 : p
                page:1, //当前分页 默认：1
                numberParam:'limit',　//分页数量请求字段默认为 : limit
                number:20,　//分页数量默认 : 20条
                numberList:[10,20,50,100,200], // 分页显示数量列表
                numberStatus:true, //　是否支持分页数量选择,默认禁用
                jump:true, //是否支持跳转分页,默认禁用
            }]
        });
    {% endif %}	
</script>
{% endblock %}